<nav class="navbar navbar-expand-md blogo">
  <a class="navbar-brand logo navcolor" routerLink="/home"><img src="./favicon.ico">BusBazaar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link navcolor" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link navcolor" routerLink="/contactus">Contact Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link navcolor dropdown-toggle"  data-toggle="dropdown" (mouseover)="load()" (mouseleave)="remove()"><span class="fa fa-user" style="padding-right:6px;"></span>Dashboard</a>
      <ng-template #login></ng-template>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btnsuccess my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>