<footer class="page-footer font-small unique-color-dark mt-4">

    <div style="background-color: #4DD8C9;">
      <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0 text-color">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 text-center text-md-center">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fa fa-facebook white-text mr-4 text-color"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-twitter white-text mr-4 text-color"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fa fa-google-plus white-text mr-4 text-color"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fa fa-linkedin white-text mr-4 text-color"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fa fa-instagram white-text text-color"> </i>
            </a>
  
          </div>
          <!-- Grid column -->
  <div class="col-md-5 col-lg-5 text-center text-md-right mb-4 mb-md-0 text-color">
    <div class="float-right">&copy; 2017-2018 Company, Inc. &middot; <a href="#" class="text-decorate">Privacy</a> &middot; <a href="#" class="text-decorate">Terms</a><a href="#" class="text-decorate" style="margin-left: 40px;">Back to top</a></div>
       
  </div>
        </div>
        <!-- Grid row-->
  </div>
  </div>
  </footer>
   

  